.host__info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.host__name{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    margin: auto 20px auto 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.host__name span{
    display: block;
    margin: 0px 5px;
}
.host__image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-radius: 50%;
}
.rate__star{
    margin-left: 10px;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .host__image{
        height: 48px;
    }
    .host__name{
        font-size: 15px;
        margin: auto 15px auto 0px;
    }
    .rate__star{
        margin-left: 5px;
        scale: 0.9;
    }
}

/*MOBILE*/
@media screen and (max-width: 767px){ 
    .host__image{
        height: 32px;
    }
    .host__name{
        font-size: 12px;
        display: flex;
        width: 93px;
        justify-content: flex-end !important;
        text-align: end !important;
        flex-direction: column;
        width: fit-content;
        margin: auto 10px auto 0px;

    }
    .rate__star{
        margin-left: 0px;
        scale: 0.7;
    }
}


